@use 'mixins' as m;
@use 'variables' as v;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	font-family: v.$font-family;
	letter-spacing: v.$letter-spacing;
}

html {
	font-size: v.$html-font-size;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-size: v.$font-size;
	color: v.$secondary-color;
}

html,
body {
	overflow-x: hidden;
}

img {
	display: block;
	max-width: 100%;
}

a {
	display: block;
	text-decoration: none;
}

button {
	all: unset;
	cursor: pointer;
	background-color: transparent;
}

ul {
	list-style: none;
}

p {
	line-height: v.$line-height-body;
	font-weight: 400;

	// Responsive
	@include m.responsive(tablet-landscape) {
		@include m.mobile-p;
	}
}

// Quando seleciona um texto
::selection {
	background-color: v.$primary-color;
	color: v.$white;
}

// Barra de scroll
/* Largura da barra */
body::-webkit-scrollbar {
	width: 8px;
}

/* Cor de fundo */
body::-webkit-scrollbar-track {
	background: #f7f8f9;
}

/* Cor do controle deslizante */
body::-webkit-scrollbar-thumb {
	background: #2a3342;
	transition: 0.7s;
}

/* Passa o mouse */
body::-webkit-scrollbar-thumb:hover {
	background: #2a3342;
}
