@use 'mixins' as m;
@use 'variables' as v;

// Header
.main-header {
	display: flex;
	height: 9.5rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: stretch;

	background: #fff;
	box-shadow: 0 4px 20px 0 rgba(228, 231, 235, 0.35);

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		// Menu
		.main-nav {
			ul {
				@include m.flex(row, space-between, center, 4px);

				// Itens do menu
				li {
					a {
						display: flex;
						padding: 1.2rem 1.6rem;
						justify-content: center;
						align-items: center;
						gap: 1rem;

						color: v.$secondary-color;
						font-size: 1.5rem;
						font-weight: 500;
						line-height: 100%;
						transition: v.$transition;

						&:hover {
							color: v.$primary-color;
						}

						@include m.responsive(laptop-hd) {
							padding: 1.2rem;
						}
					}
				}
			}
		}

		// Botões
		.botoes {
			@include m.flex(row, flex-end, center, 28px);
		}

		// Hamburguer menu
		.hamburger {
			cursor: pointer;
			margin-bottom: -16px;

			input {
				display: none;

				/* Efeito quando clicar */
				&:checked + svg {
					transform: rotate(-45deg);
				}

				&:checked + svg .line-top-bottom {
					stroke-dasharray: 20 300;
					stroke-dashoffset: -32.42;
					stroke: v.$primary-color;
				}

				// Quando ficar o X, muda a cor
				&:checked + svg .line-green {
					stroke: v.$secondary-color;
				}
			}

			svg {
				height: 3em;
				transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);

				.line-green {
					fill: none;
					stroke: v.$primary-color;
					stroke-linecap: round;
					stroke-linejoin: round;
					stroke-width: 3;
					transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
						stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
				}

				.line-top-bottom {
					stroke-dasharray: 12 63;
				}
			}

			// Não aparecer se a tela for maior que 1025px
			@include m.resolucao-minima(1025px) {
				display: none;
			}
		}
	}
}

// Hero
.hero {
	background: linear-gradient(97deg, #f5feff 74.39%, #fff 95.51%);
	@include m.flex(row, flex-start, center, 0);
	min-height: 600px;

	.container {
		padding: 52px 0;
		position: relative;

		.box-headline {
			width: 100%;
			max-width: 519px;
			@include m.flex(column, flex-start, flex-start, 16px);

			.user-avatars {
				padding: 4px;
				@include m.flex(row, flex-start, center, 12px);

				span {
					color: v.$secondary-color;
					font-size: 1.4rem;
					font-weight: 500;
				}
			}

			.headline {
				@include m.flex(column, flex-start, flex-start, 8px);

				h1.display-large {
					font-size: 6rem;
					line-height: 105%;
					font-weight: 800;
				}

				p {
					font-size: 2rem;
					width: 100%;
					max-width: 453px;
					color: v.$texto-body;
				}
			}

			.button-actions {
				@include m.flex(row, center, center, 16px);
			}
		}

		.box-notebook {
			background: no-repeat center center;
			background-size: contain;
			min-height: 433.5px;
			width: 100%;
			max-width: 810.75px;
			// @include m.flex(row, center, center, 8px);
			position: absolute;
			right: -90px;
			top: 0;

			img:nth-child(1) {
				z-index: 2;
				position: relative;
			}

			.elemento-vetor {
				position: absolute;
				left: -4px;
				top: 50%;
				transform: translateY(-50%);
				z-index: 1;
			}
		}
	}
}
