// Colors
$primary-color: #009ead;
$secondary-color: #2a3342;
$white: #ffffff;
$texto-body: #556987;
$texto-body-opacidade: rgba(85, 105, 135, 0.8);
$button-hover: #007480;
$transition: all 0.3s ease;

// Escala de cinza
$gray-600: #33303e;
$gray-500: #4e4b59;
$gray-400: #5f5c6b;
$gray-300: #7a7786;
$gray-200: #c6c5ce;
$gray-100: #f1f0f5;

// Fontes
$font-family: 'Poppins';
$font-size: 1.6rem; // Tamanho da fonte padrão
$line-height-heading: 110%; // Altura da linha padrão para títulos
$line-height-body: 150%; // Altura da linha padrão para o corpo do texto
$letter-spacing: 0;

// HTML
$html-font-size: 62.5%; // Tamanho da fonte padrão para o HTML
